---
// import { SEO as Seo } from 'astro-seo'
import { Seo } from 'astro-seo-meta'
---

<!doctype html>
<html lang="en">
  <head>
    <Seo
      title="MSJ Cables"
      description="Manufacturers of high-quality cables, transformers, and electrical components. Manufactured by Shanghe Mashiji Automotive Electrical Appliance Co., Ltd. (商河马世基汽车电器有限公司)"
      icon="/assets/msj-logo.jpg"
      robots="index"
      keywords={[
        'cables',
        'transformers',
        'converters',
        'Shanghe Mashiji Automotive Electrical Appliance Co., Ltd.',
        '商河马世基汽车电器有限公司',
        'MSJ Cables',
        'MSJ Cables China',
        'MSJ Cables Shanghai',
        'MSJ Cables Manufacturer',
        'MSJ Cables Supplier',
        'MSJ transformers',
        'MSJ cables and transformers',
        'MSJ Technology',
        'MSJ',
      ]}
    />
    <meta charset="
      UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>MSJ Cables</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
